html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-left: auto;
  /* background-color: #372c2e; */
  border-bottom: none;
  position: relative;
  z-index: 1000;
}
.nav_left {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 3.5;
  justify-content: center;
  cursor: pointer;
  border-bottom: none;
}

.navbar-container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: 32px;
}

.nav-logo {
  height: 48px;
  margin-left: 32px;
  justify-self: start;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* .nav-item {
  height: 80px;
} */

.nav-links {
  color: black;
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 550;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  transform: translateY(-3px);
  transition: transform 250ms;
  color: red;
}
.icon:hover {
  transform: translateY(-3px);
  transition: transform 250ms;
  color: black !important;
}

.menu-icon {
  display: none;
  color: #fffaeb;
}
.menu-icon svg {
  font-size: 2rem;
  fill: rgb(38, 38, 38) !important;
}

.mainDashboard {
  background-color: rgba(218, 44, 0, 0.902);
  height: 550px;
  padding: 50px;
}
.mainwording{
    font-family: "Gill Sans", sans-serif;
    letter-spacing: 1.1px;
    font-size: 70px;
    font-weight: 530;
    padding-top: 15px;
}
.mainwording_slide_left{
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 1.1px;
  font-size: 70px;
  font-weight: 530;
  padding-top: 15px;
  animation: slideInLeft 1s ease-out;
}
.mainwording_slide_right{
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 1.1px;
  font-size: 70px;
  font-weight: 530;
  padding-top: 10px;
  padding-bottom: 20px;
animation: slideInRight 1s ease-out;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
select {
  width: 150px;
}
.mainBtns {
  justify-content: center;
  min-width: 80px;
  max-width: 85px;
  height: 35px;
  text-transform: capitalize;
  font-family: var(--nunito);
  font-size: 15px;
  letter-spacing: 1.1px;
  border-radius: 6px;
  background: #ce6816;
  align-items: center;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.801);
  transition: all 0.3s ease;
  -webkit-box-shadow: 2px 2px 5px rgba(28, 29, 31, 0.3),
    -2px -2px 5px rgba(34, 37, 39, 0.3);
  box-shadow: 2px 2px 5px rgba(28, 29, 31, 0.3),
    -2px -2px 5px rgba(34, 37, 39, 0.3);
}

.mainBtns:span {
  color: #e7e7e7 !important;
}

.mainBtns:hover {
  transform: scale(1.1);
}



